body{
    
    background-color: whitesmoke
}

.logo{
    left: 35%;
    width: 25%; 
    position: relative;
    padding-left: 5%;
}
.container{
    position: absolute;
    width: 100%;
}
.navbar{
    font-family: niveau-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    background: #B5DC79;
    text-align: center;
    position: relative;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    height: 50px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    display: block;
    padding: 0 100px;
    position: relative;
    font-size: 25px;
    padding-top: 10px;
}
.navbar ul li a:hover{
    height: 100%;
    background-color: whitesmoke;
    color: #B5DC79;
}

.grid-container{
    display: inline-grid;
     grid-column-gap: 50px;
     grid-template-columns: auto auto auto auto;
}

.grid1{
grid-column: 1/5;
    grid-row: 1/5;
}

.grid2{
    top: 50%;
    left: 30%;
    grid-column: 1/4;
    grid-row: 1/4;
    text-align: left;
    float: left;
    display: inline-block;
    position: relative;
}

.grid3{
    top: 10%;
    left: 30%;
    grid-column: 1/4;
    grid-row: 3/6;
    grid-column-end: 4;
    text-align: left;
    float: left;
    display: inline-block;
    position: relative;
    width: 55%;
    word-spacing: 1px;
    line-height: 25px;
    
}

.leaf{
    width: 10%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    top: 120%;
}

.hosue{
        width: 25%;
    padding: 20px;
    margin-top: 10%;
    top: 150%;
    position: absolute;
    
}

.grid5{
    left: 30%;
    grid-column: 1/4;
    grid-row: 2/4;
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 180%;
    
}

.grid6{
    top: 192%;
    left: 30%;
    grid-column: 1/4;
    grid-row: 3/6;
    grid-column-end: 4;
    text-align: left;
    float: left;
    display: inline-block;
    position: absolute;
    width: 50%;
    word-spacing: 1px;
    line-height: 25px;
}
.imgf{
    width: 25%;
    padding: 20px;
    margin-top: 10%;
    
}


h1{
    font-family: niveau-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    display: inline-block;
}

p{
    font-family: niveau-grotesk, sans-serif;
    display: inline-block;
}

footer{ 
    top: 900px;
    position: relative;
    font-family: niveau-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #666666
}